// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

html, body {
  width: 100%;
  height: 100%;
  //background-color: orange;
}

.FBcontainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  //background-color: red;
}

.FBmain {
  height: 100%;
  width: 100%;
  -webkit-box-flex: 22;
  -webkit-flex:22;
  -ms-flex: 22;
  flex:22;
  display: -webkit-flex; /* iOS Safari 8 support */
  -webkit-flex-wrap: wrap; /* iOS Safari 8 support */
  display: -ms-flexbox;
  //background-color: yellow;
  display: flex;
  flex-direction: row;
}

.FBmainContents {
  height: 94%;
  flex:1;
}

.FBbottom {
  height: 100%;
  width: 100%;
  -webkit-box-flex: 2;
  -webkit-flex:2;
  -ms-flex: 2;
  flex:2;
  display: -webkit-flex; /* iOS Safari 8 support */
  -webkit-flex-wrap: wrap; /* iOS Safari 8 support */
  display: -ms-flexbox;
  margin: auto;
  //background-color: green;
  display: flex;
  flex-direction: row;
}


.FBbottomContents {
  flex:1;
}
